




.register-section{
  width: 70%;
  height:11rem;
  margin: 3rem auto;
  text-align: center;
}
.container1{
  width: 100%;
  height: 100%;
  -webkit-box-shadow: -4px 5px 11px 4px rgba(0,0,0,0.49);
  -moz-box-shadow: -4px 5px 11px 4px rgba(0,0,0,0.49);
  box-shadow: -4px 5px 11px 4px rgba(0,0,0,0.49);
}
.section-table{
  margin-top:3rem;
}
.row1{
  width: 90%;
  margin: 1rem auto;
} 
.register-text{
padding-top: 1rem;
}
.row1 label{
  margin-bottom: 0.6rem;
  margin-top: 1rem;
}
.table-section{
width: 100%;
padding: 0 15%;
margin-bottom: 5rem;
}
.table-container{
width: 80%;
}

thead th{
  background-color: #e84a94 !important;
  color: white;
  text-align: center !important;
}
tbody .centrar{
  text-align: center;

}
 .pagination li a:hover{
  background-color: #e84a94 !important;
  color: white !important;
 }
 .text2-parallax{
 height: 2.5rem !important;
 }